client/node_modules/@angular
client/node_modules/@angular2-material
client/node_modules/angular-cli
client/node_modules/balanced-match
client/node_modules/brace-expansion
client/node_modules/codelyzer
client/node_modules/concat-map
client/node_modules/ecc-jsbn
client/node_modules/ember-cli-inject-live-reload
client/node_modules/es6-shim
client/node_modules/exists-sync
client/node_modules/jasmine-core
client/node_modules/jasmine-spec-reporter
client/node_modules/jodid25519
client/node_modules/jsbn
client/node_modules/karma
client/node_modules/karma-chrome-launcher
client/node_modules/karma-jasmine
client/node_modules/matcher-collection
client/node_modules/minimatch
client/node_modules/object-assign
client/node_modules/protractor
client/node_modules/reflect-metadata
client/node_modules/rxjs
client/node_modules/systemjs
client/node_modules/through
client/node_modules/tsc
client/node_modules/tslint
client/node_modules/ts-node
client/node_modules/tweetnacl
client/node_modules/typescript
client/node_modules/typings
client/node_modules/walk-sync
client/node_modules/zone.js
