.blUI-toolbar-primary {
    background:#19B5FE;
    color:white;
    text-shadow: 1.5px 1.5px #446CB3;
    -webkit-box-shadow: 0 8px 6px -6px #446CB3;
	   -moz-box-shadow: 0 8px 6px -6px #446CB3;
	        box-shadow: 0 8px 6px -6px #446CB3;
            z-index: 100;
}

.blUI-fab {
    background: #446CB3;
}

.wrapped{
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}