<style>
  #profile_pic_mini {
    border-radius: 50%;
    height: 62px;
  }
</style>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue darken-1">
      &nbsp;
      <span style="font-weight:bolder; font-size:250%;">{{title | uppercase}}</span>
      <!--<span style="font-weight:300; font-size:160%;">{{subtitle | uppercase}}</span>-->

      <a class="brand-logo center" (click)="af.auth.logout()"><img *ngIf="af.auth | async" id="profile_pic_mini" src="{{ (af.auth | async).auth.photoURL }}" materialize="tooltip"
          class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click here to log out! "></a>

      <ul class="right hide-on-med-and-down">
        <li>
          <a materialize="tooltip" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click here to open our Github repo"
            href="https://github.com/cyberbeast/plutonium-emerald" target="_blank"><i class="material-icons right">share</i>SOURCE CODE</a>
        </li>
        <li>
          <a materialize="tooltip" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Report Issues" href="https://github.com/cyberbeast/plutonium-emerald/issues"
            target="_blank"><i class="material-icons right">report_problem</i>REPORT ISSUES</a>
        </li>
        <li>
          <a href="#debugModal" materialize="leanModal" [materializeParams]="[{dismissible: false}]"><i class="material-icons right">accessible</i>DEBUGGER</a>
        </li>
        <li *ngIf="!(af.auth | async)">
          <button class="waves-effect waves-light btn modal-trigger blue accent-2" (click)="af.auth.login()">LOG IN</button>
        </li>
        &nbsp; &nbsp;
      </ul>
    </div>
  </nav>
</div>
<br>


<div id="authModal" class="modal">
  <div class="modal-content">
    <pre class="wrapped">
{{ af.auth | async | json }}
    </pre>
  </div>
  <div class="modal-footer">
    <button class=" modal-action modal-close waves-effect waves-light btn blue accent-2">Close</button>
  </div>
</div>

<div id="projectsModal" class="modal">
  <div class="modal-content">
    <pre class="wrapped">
{{ projectObject | async | json }}
    </pre>
  </div>
  <div class="modal-footer">
    <button class=" modal-action modal-close waves-effect waves-light btn blue accent-2">Close</button>
  </div>
</div>

<div id="functionsModal" class="modal">
  <div class="modal-content">
    <pre class="wrapped">
      this is
{{ projectFunctionObject | async | json }}
    </pre>
  </div>
  <div class="modal-footer">
    <button class=" modal-action modal-close waves-effect waves-light btn blue accent-2">Close</button>
  </div>
</div>

<div id="debugModal" class="modal">
  <div class="modal-content">
    <button materialize="leanModal" [materializeParams]="[{dismissible: false}]" class="waves-effect waves-light btn modal-trigger blue accent-3" href="#authModal">AUTH Object</button>
    <button materialize="leanModal" [materializeParams]="[{dismissible: false}]" class="waves-effect waves-light btn modal-trigger blue accent-3" href="#projectsModal">PROJECTS Object</button>
    <button materialize="leanModal" [materializeParams]="[{dismissible: false}]" class="waves-effect waves-light btn modal-trigger blue accent-3" href="#functionsModal">FUNCTIONS Object</button>
    
  </div>
  <div class="modal-footer">
    <button class=" modal-action modal-close waves-effect waves-light btn blue accent-2">Close</button>
  </div>
</div>

<router-outlet></router-outlet>