<style>
  .example-fill-remaining-space {
    flex: 1 1 auto;
  }
</style>

<md-toolbar [color]="myColor">
  <span><h1>{{title | uppercase}}</h1></span>
  <span class="example-fill-remaining-space"></span>  
  <span><h3>{{subtitle}}</h3></span>
</md-toolbar>

<div style="margin: 10px 10px 10px 10px;"></div>
<center><button md-raised-button>NEW PROJECT</button></center>
<br />

<md-grid-list cols="3" rowHeight="4:3" gutterSize="80px" style="margin:0 100px 0 100px;">
   <md-grid-tile *ngFor="let project of projects">
     <md-card>
       <md-card-title>{{project.name | uppercase}}</md-card-title>
       <md-card-subtitle>API PROJECT</md-card-subtitle> <md-card-content><p>{{project.description}}</p></md-card-content>
       <md-card-actions>
        <button md-button>EDIT</button>
        <button md-button>DELETE</button>
        </md-card-actions>
    </md-card>
   </md-grid-tile>
</md-grid-list>


