<div *ngIf="af.auth | async">
    <!--<div style="margin: 10px 10px 10px 10px;"></div>-->
    <!--<center>
        <button md-mini-fab class="blUI-fab" (click)="goBack()">
            <md-icon class="md-24">skip_previous</md-icon>
        </button>
        &nbsp;
        <button md-fab class="blUI-fab">
            <md-icon class="md-24">library_add</md-icon>
        </button>
        &nbsp;
        <button md-mini-fab class="blUI-fab">
            <md-icon class="md-24">refresh</md-icon>
        </button>
    </center>
    <br />  -->

    <!--<pre>
    {{ project_functions | async | json }}
    </pre>-->

    <div class="row">
        <div class="col s12 m4" *ngFor="let function of project_functions | async">
        <div class="card" @flyInOut="'in'">
            <div class="card-content">
            <span class="card-title">{{ function.fname | uppercase }}</span>
            <p>Lorem ipsum dolor sit amet, pri ut augue erant euismod, vim at vocibus delicata principes. Tacimates complectitur et nam. Ex pro vide sententiae reprimique, at pri malis. </p>
            <!--<p>{{ project.description }}</p>-->
            </div>
            <div class="card-action">
            <button class="waves-effect waves-light btn blue accent-2">EDIT</button>
            <button class="waves-effect waves-light btn blue accent-2">DELETE</button>
            </div>
        </div>
        </div>
    </div>
    

    <!--<md-grid-list cols="3" rowHeight="4:3" gutterSize="80px" style="margin:0 100px 0 100px;">
    <md-grid-tile *ngFor="let function of project_functions | async">
        <md-card>
            <md-card-subtitle>{{project.id}}</md-card-subtitle>
            <md-card-title>{{function.fname | uppercase}}</md-card-title>
            <md-card-content><p>{{function.description}}</p></md-card-content>
            <md-card-actions>
                <button md-button>EDIT FN</button>
                <button md-button>DELETE FN</button>
            </md-card-actions>
        </md-card>
    </md-grid-tile>
    </md-grid-list>-->
</div>